
 
body {
	background-color: #f4C10b;
}

h1{
	text-align: center;
	font-size: 100px;
	font-family: "Playwrite ID", "Times New Roman";
	overflow: hidden;
	margin-bottom: 0px;
}

h2{
	font-family: "Playwrite ID", "Times New Roman";
	font-size: 40px; 
}

.home {
	text-align: center;
}

img{
	width: 500px;
	height: 350px;;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;: 
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.menu,ul, ol, p{
	font-family: "Yuyu Short",sans-serif;
	font-size: 30px;
}


.menu{
	padding-left: 300px;
	list-style-type: none;
	font-size: 40px;
	margin-top: 0px;
}


a:link {
	color: #2754F5;
}

a:hover , a:visited {
	color: #6127F5;
}


li{
	margin: 10px;
}
