
 
body {
	background-color: #f4C10b;
}

h1{
	text-align: center;
	font-size: 100px;
	font-family: "Playwrite ID", "Times New Roman";
	overflow: hidden;
	margin-bottom: 0px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


ul{
	padding-left: 300px;
	list-style-type: none;
	font-family: "Yuyu Short",sans-serif;
	font-size: 40px;
	margin-top: 0px;
}


a:link {
	color: #2754F5;
}

a:hover , a:visited {
	color: #6127F5;
}


